<form #registerForm="ngForm" novalidate>
<ion-card>
  <ion-card-content>
  <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="account.email" type="email" name="email"
       #email="ngModel" required pattern="[[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"></ion-input>
      </ion-item>
      
      <div padding *ngIf="email.invalid && email.dirty">
        <span>email is not valid</span>
      </div>

      <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="account.password" type="password" name="password" #password="ngModel" required 
      pattern="(?=.*[0-9])[a-zA-Z0-9!@#$%^&*]{6,16}$"></ion-input>
    </ion-item>

      <div padding *ngIf="password.invalid && password.dirty"
      class = "global__input-error">
        <span>password is not valid</span>
      </div>

  </ion-card-content>
  <ion-row>
    <div>
      <button ion-button (click)="register()" [disabled]="registerForm.invalid">Register</button>
    </div>
  </ion-row>
</ion-card>
</form>
